<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jhta.dept">
	<select id="AllDept" resultType="kr.co.j.vo.DeptVO">
		SELECT deptno, dname, loc
		FROM
		dept
	</select>

	<insert id="addOne" parameterType="kr.co.j.vo.DeptVO">
		INSERT INTO dept
		VALUES (dept_deptno.nextval, #{dname} , #{loc})
	</insert>

</mapper>

